:root {
  --bg: rgb(18, 11, 36);
  --bg-dark: rgb(10, 6, 20);
  --txt: #fff;
  --blue: rgb(123, 210, 213);
  --dark-blue: #1e5688;
  --txt-pink: rgb(173, 2, 167);
  --gold: rgb(239, 203, 44);
}
.features-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5rem 8rem;
}
.features-menu-box {
  display: flex;
  background-color: var(--bg-dark);
  overflow: hidden;
}
.features-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features-menu-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.features-menu-item:hover {
  background-color: var(--blue);
}
.features-menu-item.active {
  background-color: var(--dark-blue);
}
.features-heading {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--gold);
}
.features-item {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 3rem;
  gap: 1rem;
  width: 100%;
  min-height: 100%;
  background-color: var(--dark-blue);
}
.features-item h1 {
  text-align: center;
  color: var(--blue)
}
