:root {
  --bg: rgb(18, 11, 36);
  --bg-dark: rgb(10, 6, 20);
  --txt: #fff;
  --txt-pink: rgb(173, 2, 167);
  --gold: rgb(239, 203, 44);
 }

.logo {
  color: rgb(239, 203, 44);
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.logo font {
  color: var(--txt);
}
.logo img {
  width: 3.5rem;
  margin-right: 0.5rem;
}
nav{
  padding: 0 5rem;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-dark);
}
ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #fff;
}
li:last-child a {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: var(--txt-pink);
}
li a:hover, li a.active {
  color: var(--txt-pink);
}
li:last-child a:hover, li:last-child a.active {
  background-color: var(--txt-pink);
  color: #fff;
}
.menu-icon {
  display: none;
}
.menu-icon .fas.fa-times {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}
.menu-icon .fas.fa-bars {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

/********************************** Media Queries ***********************************/

@media screen and (max-width: 950px) {
  nav {
    padding: 0 3rem;
    position: relative;
  }
}
@media screen and (max-width: 800px) {
  .menu-icon {
    display: flex;
    align-items: center;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    right: 0;
    top: 10vh;
    padding: 3rem 0 4rem;
    background-color: rgba(32, 19, 65, 0.538);
    transition: all 0.5s ease-in-out;
  }
  .menu-list.closed {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
  .logo {
    font-size: 1.3rem;
  }
  .logo img {
    width: 2.5rem;
  }
}
@media screen and (max-width: 350px) {
  nav {
    padding: 0 1rem;
  }
}