:root {
  --bg: rgb(18, 11, 36);
  --bg-dark: rgb(10, 6, 20);
  --txt: #fff;
  --blue: rgb(123, 210, 213);
  --dark-blue: #1e5688;
  --txt-pink: rgb(173, 2, 167);
  --gold: rgb(239, 203, 44);
}
.currencies-box {
  margin-bottom: 5rem;
}
.crypto-card-box {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}
.crypto-card-box a {
  text-decoration: none;
  color: inherit;
}
.crypto-card {
  padding: 2rem;
  background-color: var(--dark-blue);
}
.crypto-card:hover {
  box-shadow: 0px 0px 10px 5px rgba(57, 100, 133, 0.5);
  transition: all 0.1s ease-in-out;
}
.crypto-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.crypto-card-heading img {
  width: 2rem;
  height: 2rem;
}
.crypto-card-heading font {
  color: var(--gold);
}
.crypto-card p {
  margin-bottom: 1rem;
}
.search {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
.search input {
  font-family: 'Space Mono';
  width: 30%;
  padding: 0.3rem 0.5rem;
}
.clear-btn {
  border: none;
  background: transparent;
}
.clear-btn:hover {
  cursor: pointer;
}