*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Space Mono';
  background-color: rgb(18, 11, 36);
  color: #fff;
}
.App {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}